{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
    <div class="col-md-4">
        <h2>Categories</h2>
        {% for category in categories %}
        <a href="{{url_for('showCategory', category_id = category.id)}}">
            <div class="restaurant-list">
                <h3>{{category.name}}</h3>
            </div>
        </a>

        {% endfor %}
    </div>
    <div class="col-md-8">
        <h1>{{category.name}}</h1>
         <a href="{{url_for('editCategory', category_id = category.id ) }}">Edit category</a> |
            <a href="{{url_for('deleteCategory', category_id = category.id ) }}">Delete category</a>
        <h2>Items</h2>

        {% for item in items%}
        <a href="{{url_for('showItem', item_id = item.id)}}">
                <div class="restaurant-list">
                    <h3>{{item.name}}</h3>
                </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
